:root {
    --accent-color: #2196f3;
    --text-color-black: #212121;
    --text-color-gray: #757575;
    --white-color: #ffffff;
    --absolute-black: #000000;
}

body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: var(--text-color-gray);
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}



/* header */

.header {
    background-color: var(--white-color);
    border-bottom: #ECECEC 1px solid;
}

/* logo webstudio */

.header-logo {
    margin-right: 93px;

    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

    color: var(--absolute-black);
}

.logo-accent {
    color: var(--accent-color);
}

/* nav-links */

.nav-list {
    list-style: none;
    display: flex;
}

.main-nav {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-item {
    margin-right: 50px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-list .current {
    color: var(--accent-color);
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-color-black);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

/* header address */

.header-list {
    margin-left: auto;
    list-style: none;
    display: flex;
}

.header-item {
    margin-right: 50px;
}

.header-item:last-child {
    margin-right: 0;
}

.header-address {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-color-gray);
}

.header-address:hover,
.header-address:focus {
    color: var(--accent-color);
}

/* Main */

/* hero */

.hero {
    background-color: #2f303a;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--white-color);
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}

.hero-btn {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: #2196f3;
    color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
}


.hero-btn:hover,
.hero-btn:focus {
    background-color: #188ce8;
    color: #ffffff;
    cursor: pointer;
}

/* sections main title */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--text-color-black);
    margin-bottom: 50px;
    text-align: center;
}

/* details section */

.details-section {
    background-color: var(--white-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.details-item {
    margin-right: 30px;
}

.details-item:last-child {
    margin-right: 0;
}

.details-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}

.details-title {
    width: 270px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-color-black);
    margin-bottom: 10px;
    text-transform: uppercase;
}

.details-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color-gray);
}

/* Our work section */

.work-section {
    background-color: var(--white-color);

}

.work-list {
    list-style: none;
    display: flex;
}

.work-item {
    display: inline-block;
    margin-right: 15px;
}

/* Our Team Section */

.team-section {
    background-color: #f5f4fa;
    padding-top: 50px;
    padding-bottom: 94px;
    text-align: center;
}

.team-item {
    display: inline-block;
    margin-left: 0;
}

.team-list {
    list-style: none;
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--text-color-black);
    margin-bottom: 10px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--text-color-gray);
}

/* Footer */

.footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Logo */

.footer-logo {
    display: inline-block;
    font-family: Raleway, serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--white-color);
    margin-bottom: 20px;
}

/* Footer address */

.address-list {
    list-style: none;
    padding-left: 0;
}

.address-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
    color: var(--white-color);
    margin-bottom: 9px;
}

.address-item:last-child {
    margin-bottom: 0px;
}

.address-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

/* Portfolio section */
.portfolio-main {
    background-color: var(--white-color);
}

.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* nav buttons */

.btn-list {
    list-style: none;
    display: flex;
    text-align: center;
    border-radius: 2px;
    justify-content: center;
    margin-right: 8px;
    
}

.portfolio-button {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background-color: #f5f4fa;
    color: var(--text-color-black);
    border-radius: 4px;
    margin-right: 8px;
    border: 1px solid #F5F4FA;
    margin-bottom: 56px;
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: #2196f3;
    color: #ffffff;
    cursor: pointer;
}

/* Portfolio plates */

.portfolio-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 0;
    padding-right: 0;
}

.portfolio-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color-black);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color-black);
    padding-bottom: 4px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--text-color-gray);
    margin-bottom: 4px;

}

.portfolio-container {
    padding-top: 20px;
    margin-right: 30px;
}